In [6]:
import numpy as np
import scipy.linalg as linalg
A = np.array([[3,2], [1,4]])
b = np.array([6,5])

x = linalg.solve(A, b)
print("Solucion del sistema Ax = b:", x)

Solucion del sistema Ax = b: [1.4 0.9]

In [15]:
from scipy.optimize import minimize
import numpy as np
def f(x):
    return x**2 + 5*np.sin(x)
result = minimize(f, x0=2.0)
print("Minimo encontrado en x = ", result.x)

Minimo encontrado en x =  [-1.11051058]

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

iris = load_iris()
X = iris.data
y = iris.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

camila = RandomForestClassifier()
camila.fit(X_train, y_train)
y_pred = camila.predict(X_test)


adriana = accuracy_score(y_test, y_pred)
print(f"Precision de modelo: {adriana:2f}")

nueva_flor = [[1.4, 1.4, 1.4, 1.4]]
prediccion = camila.predict(nueva_flor)
nombre_flor =iris.target_names[prediccion[0]]
print(f"La flor predicha es: {nombre_flor}")

Precision de modelo: 1.000000
La flor predicha es: setosa

In [36]:
import pandas as pd

data ={
    'Nombre': ['Camila', 'Adriana', 'Ximena'],
    'Edad': [11, 34, 40],
    'Ciudad': ['Madrid', 'Barcelona', 'Sevilla']
    
}
data2 = [['Camila', 11, 'Madrid'], ['Adriana', 34, 'Barcelona'],['Ximena', 40, 'Sevilla'],]
    



df = pd.DataFrame(data)
df2 = pd.DataFrame(data2, columns=['Nombre', 'Edad' , 'Ciudad'])
suma = df.Edad.sum()
describe = df.Edad.describe()
print(f'la suma de las edades es {suma}') 
print(f'el describe de edades es {describe}') 

print(df)
print(df2)

la suma de las edades es 85
el describe de edades es count     3.000000
mean     28.333333
std      15.307950
min      11.000000
25%      22.500000
50%      34.000000
75%      37.000000
max      40.000000
Name: Edad, dtype: float64
    Nombre  Edad     Ciudad
0   Camila    11     Madrid
1  Adriana    34  Barcelona
2   Ximena    40    Sevilla
    Nombre  Edad     Ciudad
0   Camila    11     Madrid
1  Adriana    34  Barcelona
2   Ximena    40    Sevilla

In [ ]:
import pandas as pd

df = pd.read_csv("E:/practicas/Ejercicios/tips.csv")
print(df)

df.head(11)
df.head(21)
df.head(51)

df.tail(10)
print('==========================')
df.tail(20)
df.tail(50)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
==========================

     total_bill   tip     sex smoker   day    time  size
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2